  <nav id="mainBar">
    <div>
      <h2 id="logo"> <a href="/"><i class="fa fa-dumbbell"></i> FitTrack</a></h2>
    </div>
     <div id="burger"><i class="fa fa-bars"></i></div>
      <ul class="flex fixed">
        <div id="cross" class="display"><i  class="fa fa-times"></i></div>
       <li> <a href="/about"> About</a></li>
       <li> <a href="/tips">Tips</a> </li>
     <button class="btn btnSmall"> <a href="/login">LogIn</a></button>
     <button class="btn btnSmall"> <a href="/signup">SignUp</a></button>
      </ul>
  </nav>

