<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<section id="about">
     <div class="flex">
        <div class="sideContent">
   <h1 class="secTitle">About</h1>
           <p>This is an open-source project and part of a certification process. You can freely use it or give contribution in the development of this project by clicking on the below  button.</p>
           <button class="btn btnBig">Contribute <i class="fa fa-github"></i> </button>
        </div>
        <div class="sideImg">
          <img src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
        </div>
     </div>
</section>

    
