<%- include('./partials/header.ejs') %>
   <%- include('./partials/navbar.ejs') %>

      <section id="about">
         <div class="sideContent">
            <h1 class="secTitle">About</h1>
            <p>This is an open-source project and part of a certification process. You can freely use it
               contribute in the development of this project by clicking on the below button.</p>
            <a href="https://github.com/AlfiyaSiddique/exercise-tracker" target="_blank"><button
                  class="btn btnBig">Contribute Here <i class="fa fa-github"></i> </button></a>
         </div>
      </section>

      <section class="footer">
         <%- include('./partials/footer.ejs') %>
       </section>
