<%- include('./partials/header.ejs') %>
  <div >
    <div id="bg">
    <section id="home">
      <%- include('./partials/navbar.ejs') %>
      <div class="homeContent">
        <h1>Track your Fitness</h1>
        <h2>Keep it Consistent, Keep it Growing</h2>
        <button class="btn btnBig">Start Today</button>
      </div>
    </div>
    </section>
    <section id="useSteps">
      <h1 class="secTitle">Track Exercises</h1>
      <div class="flex secStart">
        <div class="flexitem">
          <h1>Create an Account</h1>
           <i class="fa fa-user"></i>
          <p>To start using this application and keep tracking your exercises and store your achievements, Create a new account</p>
        </div>
        <div class="flexitem">
          <h1>Set Exercise time and Quantity</h1>
          <i class="fa fa-clock"></i>
          <p>Save your exercise time quantity with description to make it clear what to do </p>
        </div>
        <div class="flexitem">
          <h1>Find more tips and exercise info</h1>
          <i class="fa fa-info-circle"></i>
          <p>Find more about different exercises and nutrition tips from the
            <em>Tips</em> section</p>
        </div>
      </div>
    </section>
  </div>
  <section class="footer">
    <%- include('./partials/footer.ejs') %>
  </section>
